var paths = {
	css: 'css/',
	dist: 'dist/',
	config: 'config/',
	build_bower: 'lib/',
	err: 'err/',
	js_src: ['src/*-lib.js','src/**/*-router-module.js','src/**/!(*-router-module.js)*-module.js','src/components/**/!(*-module.js)*.js'],
	test_src: ['test/unit/test*.js'],
	index: 'src/index.html',
	release: 'release/',
  release_src: ['build/!(*dev.js|lib)*'],
	sass_src: ['scss/**/*.scss','src/*-app.scss','src/components/**/*.sass','src/**/*.sass','src/components/**/*.scss','src/**/*.scss'],
	template_src: ['src/components/**/!(*_dev.html)*.html'],
	package_src: 'build/**/!(*.map)*',
	resources_src: ['src/**/resources/*', 'bower_components/**/release/resources/*'],
	images_src: ['src/**/images/*', 'bower_components/**/release/images/*'],
	fonts_src: ['src/fonts/*', 'bower_components/**/release/fonts/*'],
  lintReports: 'reports/lint/',
  htmlReports: 'reports/html/',
	reports: 'reports/',
	sass_watch: ['src/*-app.scss', 'src/modules.scss', 'src/**/*.scss'],
	css_src: ['css/*.css'],
	template_src: ['src/components/**/!(*_dev.html)*.html'],
	test_src: ['test/unit/test*.js'],
	all_tests_src: ['test/**/*.js', '!test/integration/stubs/**/*.js']
};
module.exports = paths;
